body {
    color: white;
    background-color: #192229;
    font-family: Helvetica, Arial, sans-serif;
}

.card{
	background-color: #192229;
}

.center-container{
	background-color: #21232A;
	color:white;
}

.login-btn{
	display: flex;
  justify-content: center;
  height: 100%;
}
